* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 0 0.5rem;
  margin-top: -.4rem;}

/* @keyframes create animation functions */

/* (X,Y vertex at 0, 0) *******************************************/
/*                                                             /  */
/*                                       (X,Y vertex at 100, 100 )*/
/*                                                                */
/*                                                                */
/******************************************************************/

@keyframes moveInUp {
  0% {
opacity: 0;
transform: translateY(-100px);
  }
  80% {
    transform: translateY(20px); 
  }
  95% {
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
  opacity: 0;
  transform: translateY(100px);
  }
  100% {
opacity: 1;
transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
  opacity: 0;
  transform: translateX(-10rem);
  }
  100% {
opacity: 1;
transform: translate(0);
  }
}
@keyframes moveOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* transform: translateX(-10rem)  */
  }
}

/* LAYOUT- grid */
.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

/* utilities */
.mt-sm {
  margin-top: 2.5rem;
}
.mt-md {
  margin-top: 3.75rem;
}
.mb-md{
  margin-bottom: 3.25rem;
}
.mb-lg{
  margin-bottom: 5rem;
}
.mr-col {
  margin-right: 3.75rem;
}
.ml-col {
  margin-left: 2.5rem;
}
.section-pd{  
  padding: 2.5rem;
}

/* layout */
.header {
  height: 99vh;
  background-image: linear-gradient(
    to bottom,
     rgba(15, 77, 183, 0.3),
     rgba(39, 179, 161, 0.025)), url('../img/programmer.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}
.text-box {
 position: absolute;
 top: 40%;
 left:50%; 
 transform: translate(-50%, -50%);
 text-align: center;
 margin-top: 2rem;
}
/* .portfolio-card */
.portfolio-card {
  background-color: rgba(213, 213, 213, 0.898);
  border-radius: 5px;
  box-shadow: 0 20px 64px rgba(68, 16, 128, 0.35);
  margin: 1rem 0;
  opacity: 0.9;
  transition: all .4s ease-in;
  overflow: hidden;
}
.portfolio-card:hover {
  transform: translateY(-.5rem);
  box-shadow: 0 10px 32px rgba(68, 16, 128, 0.5);
}
/* typography */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
  backface-visibility: hidden;
}
.heading-primary-main{
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInUp; /*animation-name is used to apply keyframes function*/
  animation-duration: 1.3s;
}
.heading-primary-sub{
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation-name: moveInBottom;
  animation-duration: 1.2s;
}  
.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1rem;
  color: #777;
}
.heading-tertiary {
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}
.heading-tertiary-sub {
  font-size: 1.125rem;
  text-align: center;
}

/* button */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s; 
  position: relative;
}
.btn:hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(15, 77, 183, 0.5);
}
.btn::after { /*creates a shadow copy of the original(parent) element*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%; 
  border-radius: 100px;
  position: absolute; /*this element must have the position: relative in its parents class to give desired outcome*/
  top: 0;
  left: 0;
  z-index: -1;
  transition:all .5s;
}
.btn-white::after { 
  background-color: rgba(255, 255, 255, 0.576);   
}  
.btn-white { 
  background-color: rgb(255, 255, 255);
  color: rgb(206, 0, 255);
  letter-spacing: 1.3px;
  font-weight: 700;
}  
.btn:hover::after {
  transform:scaleX(1.3) scaleY(1.6);
  opacity: 0.2 ;
}
.btn-animated {
  animation: moveInRight .5s ease-out 1.5s;
  animation-fill-mode: backwards;
}

/* section-aboutme */
.section-aboutme__portfolio {
  margin-top: 2rem;
  text-align: center;
  perspective: 100rem;
  position: relative;
}
.project {
  width: 100%;
  position: relative;
}
.project__img {
 width: 100%;
 height: 20.5rem;
  backface-visibility: hidden;
  transition: all .5s;
}
.project__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden;
}
.project:hover .project__link {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.project:hover .project__img {
  filter: blur(.5px) brightness(90%);
}
.section-aboutme__skills{
  color: #fff;
  margin-top: 12.5rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-size: 100% 100%;
  background-image: linear-gradient(to bottom,
   rgb(255, 255, 255),
   rgba(159, 194, 255, 0.5),
    rgba(15, 77, 183, 0.025)), url("../img/workspace.jpg");
 }
 /* icon style  */
div i {
  background: #fff;
  padding: .75rem;
  border-radius: 50%;
  outline-offset: .5rem;
}
i {
  font-size: 3rem;  
  transition: all .2s ease; 
  color: rgb(64, 209, 190);
  margin: 0 .5rem;
}
i:hover {
  transform: scale(1.125) rotateZ(10deg);
  outline: .125rem solid #fff;
 
}
.section-aboutme__description {
  text-align: center;
  padding: 2.5rem;
  font-size: 1.25rem;
  height: 80vh;
}

.section-aboutme__text {
 margin-top: 2rem;
}
.section-aboutme__resume:link,
.section-aboutme__resume:visited{
  font-size: 1.125rem;
  color: rgb(206, 0, 255);
  text-decoration: none;
  border-bottom: 1px solid rgb(206, 0, 255);
  padding: 1rem;
}
.section-aboutme__resume:hover {
  background-color: #fff;
}
.section-aboutme__image {
  border-radius: 50%;
}
footer {
  background-color:
  rgba(15, 77, 183, 0.125);
  margin-top: 0.5rem;
  padding: 2rem;
}
footer a {
  text-decoration: none;
}
